@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

    body {
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .college-box {
    	width: 100%;
        height: 630px;
        background-color: #ffffff; 
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .college-list{
    	width: 80%;
    }
    
    .registration-list-container{
    	width: 20%;
    	height: 100%;
    	margin-top: 40px;
    }
    
    .registration-list-top{
    	display: flex;
    	justify-content: center;
    	width: 80%;
    	font-size: 40px;
    	margin-bottom: 15px;
    }
    
    .registration-list{
    	border: 1px solid black;
    	border-left: hidden;
    	border-right: hidden;
    	width: 80%;
    }
    
    
    .registration-list tr td{
    	display: flex;
    	justify-content: center;
    	font-size: 20px;
    	padding: 15px;
    }
    
    .college-registration-right-container{
    	display: flex;
    	flex-direction:column;
    	height:100%;
    	width: 80%;
    }

   .college-registration-top {
        background-color: #003399; 
        color: #ffffff; 
        width: 80%;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        margin: 20px 0 20px 0 ; 
    }
    
    label, input, button, a {
        margin: 5px 0;
    }

    button {
        background-color: #0056b3; 
        color: #ffffff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin: 10px;
    }

    button:hover {
        background-color: #004494;
    }

    a {
        color: black; 
        text-decoration: none;
        margin-top: 20px;
        display: block;
        font-size: 16px;
    }

    a:hover {
        text-decoration: underline;
    }
.split--div {
	margin: 20px 0 20px;
}
.table--container {
	width: 500px;
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	margin-top: 50px;
}
.first--tr {
	background-color: #f7f6f6;
	height: 30px;
	font-weight: bolder;
}
table tr, td {
	border: 1px solid #D2D1D1;
	border-width: 1px 0px;
	padding: 5px 15px;
}
.button {
	background-color: #023268;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}
input[type="submit"]{
	background-color: #023268;
	border-radius: 5px;
	border: hidden;
	color: #fff;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}
.button:hover {
	color: #fff;

}
.select--button {
	margin-bottom: 30px;
}

.input--box {
	border: 1px solid #D2D1D1;
	border-radius: 3px;
	height: 35px;
	margin-right: 20px;
	padding: 5px;
}
.form--container {
	margin-top: 30px;
}
.delete {
	font-weight: bold;
}
.button--container {
	margin-left: 200px;
}
