@charset "UTF-8";

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
select {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
    display: block;
}