@charset "UTF-8";

header{
	background-color: #fff;
}

.h-border-top{
	width: 100%;
	border-top: 3px solid #001489;
}

.header-wrap{
	width: 70%;
	margin: 0 auto;
}

.user-utils-wrap{
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.user-utils{
	display: flex;
	justify-content: flex-end;
}

.user-utils li a{
	color: #140A47;
	font-size:14px;
	margin-left: 20px;
}

.header-nav{
	display: flex;
	height:140px;
	align-items: center;
}

.gnb{
	display: flex;
	justify-content: space-around;
}

.gnb li a{
	font-size: 28px;
	font-weight: bold;
	margin: 0 50px;
	padding: 5px;
	color: #001489;
}

.gnb li a::after{
	content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #001489;
    margin-top: 13px;
    opacity: 0;
}

.gnb li a:hover{
	color: #001489;
}

.gnb li a:hover::after{
	opacity: 1;
}

.menu-toggle-wrap{
	display:none;
}

.menu-toggle{
	width:60px;
	width:50px;
	border: none;
	cursor: pointer;
	display: block;
	margin-right:20px;
	background: transparent;
}

.mobile-nav{
	width: 100%;
	height: 100%;
	background-color:#001489;
	color: #fff;
	display: none;
}


