.input--table {
    width: 100%;
    margin-left: 0; /* Align the table to the left */
    border-collapse: collapse;
}

.input--table th, .input--table td {
    padding: 8px;
    text-align: left; /* Align text to the left */
}

.input--table th {
    background-color: #f2f2f2;
}

.input--table colgroup .col1,
.input--table colgroup .col2,
.input--table colgroup .col3,
.input--table colgroup .col4 {
    width: 25%; /* Make columns of equal width */
}

.stat--table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.stat--table th, .stat--table td {
    padding: 8px;
    text-align: left; /* Align text to the left */
}

.stat--table th {
    background-color: #f2f2f2;
}

.table-container {
    overflow-x: auto;
}

