@charset "UTF-8";
p {
	margin-top: 10px;
	margin-bottom: 10px;
}

.contentBox {
	width: 100%;
	display: flex;
}

.content {
	width: 700px;
	margin-left: 20px;
	font-size: 14px;
	margin-top: 10px;
}

.list {
    display: inline;
    justify-content: space-between;
    width: 30%;
}

.list button {
    background-color: navy;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.list button:hover {
    background-color: darkblue;
}
