@charset "UTF-8";
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.Logo {
    display: flex;
    justify-content: center;
   	flex-direction: column;
    margin-bottom: 100px;
    margin-top: -100px;
}

.login_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 250px;
    border: 2px solid #001489;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type="number"]{
    width: 300px;
    margin-top: 10px;
}
input[type="password"]{
    width: 300px;
    margin-top: 10px;
}

button {
    width: 307px;
    margin-top: 10px;
    background-color: #001489;
    color: white;
    border: none;
    height: 35px;
}

button:hover {
	background-color: #00CDFF;
	color: black;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 10px 10px;
    box-sizing: border-box;
}

.save-id {
    margin-top: 6px;
    font-size: 12px;
}


.options a {
	margin-top: 10px;
    font-size: 12px;
    margin-left: 45px;
    text-decoration: none;
    color: black;
}
input[type="number"] {
	height: 25px;
}

input[type="password"] {
	height: 25px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.footer {
	height: 100px;
	width: 100%;
	background-color: #001489;
	color: white;
	position: absolute;
	bottom: 0px;
}

.footer p {
	margin-top: 20px;
	margin-left: 20px;
}

