@charset "UTF-8";

/* 전체 테이블 스타일 */
.sub--list--table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.sub--list--table th,
.sub--list--table td {
    padding: 12px 15px;
}

.sub--list--table thead th {
    background-color: #33688F;
    color: white;
    border: 1px solid #33688F;
}

.sub--list--table tbody td {
    border-bottom: 1px solid #d2d2d2;
}

.sub--list--table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.sub--list--table tr:hover {
    background-color: #e0f7ff;
}

.sub--list--table th {
    text-align: center;
}

.sub--list--table td {
    text-align: center;
}

.sub--list--name {
    text-align: left !important;
    padding-left: 20px;
    color: #003366;
}

.sub--list--table td button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px
}

.sub--list--table th,
.sub--list--table td {
    padding: 12px 15px;
    border-left: none; /* 세로줄 제거 */
    border-right: none; /* 세로줄 제거 */
}