<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee" version="6.0">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userController</display-name>
    <servlet-name>userController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.userController
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/userController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BreakController</display-name>
    <servlet-name>BreakController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.BreakController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BreakController</servlet-name>
    <url-pattern>/BreakController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SugangController</display-name>
    <servlet-name>SugangController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.SugangController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SugangController</servlet-name>
    <url-pattern>/SugangController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>boardController</display-name>
    <servlet-name>boardController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.boardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>boardController</servlet-name>
    <url-pattern>/boardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScheduleController</display-name>
    <servlet-name>ScheduleController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.ScheduleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleController</servlet-name>
    <url-pattern>/ScheduleController</url-pattern>
  </servlet-mapping>
</web-app>