<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>GradeController</display-name>
    <servlet-name>GradeController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.GradeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeController</servlet-name>
    <url-pattern>/GradeController</url-pattern>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.adminController</servlet-class>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <display-name>chelseaUniversity</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userController</display-name>
    <servlet-name>userController</servlet-name>
    <servlet-class>com.chelseaUniversity.ver1.controller.userController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/userController</url-pattern>
  </servlet-mapping>
</web-app>