<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee http://xmlns.jcp.org/xml/ns/javaee"
	version="6.0">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>userController</display-name>
		<servlet-name>userController</servlet-name>
		<servlet-class>com.chelseaUniversity.ver1.controller.userController
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userController</servlet-name>
		<url-pattern>/userController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SyllabusController</display-name>
		<servlet-name>SyllabusController</servlet-name>
		<servlet-class>com.chelseaUniversity.ver1.controller.SyllabusController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SyllabusController</servlet-name>
		<url-pattern>/SyllabusController</url-pattern>
	</servlet-mapping>
</web-app>